  {{define "index"}}

  {{template "header"}}
  <main class="px-3">
    <h1>Sanches articles site</h1>
    <p class="lead">Sanches articles site gives you a great opportunity to share your articles with the whole world</p>

    {{ range .}}
    <div class="alert alert-dark">
      <h2>{{.Title}}</h2>
      <h2>{{.Anons}}</h2>
      <a href="/post/{{.Id}}" class="btn btn-light">More</a>
    </div>
    {{else}}
    <p class="alert alert-dark">Added post will be shown here!</p>
    {{end}}

    <p class="lead">
        <a href="/contacts/" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
      </p>
  </main>

  {{template "footer"}}
  {{end}}